<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Contact</h2>
      <% if (!contact) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Data kontak tidak tersedia.
        <br><a href="/contact" class="alert-link fw-normal">&laquo; Kembali ke halaman kontak</a>.
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= contact.noHp %></h6>
          <p class="card-text"><%= contact.email %></p>
          <div class="d-flex justify-content-between">
            <a href="/contact" class="btn btn-primary badge">Back To Contacts</a>
            <a href="/contact/edit/<%= contact.nama %>" class="btn btn-info badge">Edit</a>
            <!-- <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge" onclick="return confirm('Yakin?')">Hapus</a> -->
            <form action="/contact?_method=DELETE" method="post" onclick="return confirm('Yakin?')">
              <input type="hidden" name="_id" value="<%= contact._id %>">
              <button type="submit" class="btn btn-danger badge">hapus</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>